<div class="video-container">
    <vg-player (onComplete)="onVideoEnded()" (onPlayerReady)="onPlayerReady($event)">
        <vg-overlay-play></vg-overlay-play>
        <vg-buffering></vg-buffering>
        <vg-controls>
            <vg-play-pause></vg-play-pause>
            <vg-playback-button></vg-playback-button>

            <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

            <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>

            <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
            <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

            <vg-track-selector></vg-track-selector>
            <vg-mute></vg-mute>
            <vg-volume></vg-volume>

            <vg-fullscreen></vg-fullscreen>
        </vg-controls>

        <video [vgMedia]="$any(videoElement)" #videoElement id="videoElement" [src]="currentVideo" preload="auto"
            crossorigin></video>
    </vg-player>
</div>
<div class="playlist">
    <h3>Playlist</h3>
    <ul>
        <li *ngFor="let video of playlist; let i = index" (click)="playVideo(i)">
            {{ video }}
        </li>
    </ul>
</div>