.sidenav-container {
    height: 100%;
  }
  
  .sidenav-content {
    position: relative;
    z-index: 1;
    display: block;
    height: 100%;
    overflow: auto;
  }

  
  .component-sidenav-content {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
  
  .component-page-header {
    display: flex;
    align-items: center;
    padding-left: 20px;
    height: auto;
    h1 {
      font-weight: 300;
      margin: 0;
      padding: 28px 8px;
      font-size: 20px;
      color: #fff;
    }
  }
