<nav class="navbar-header">
  <button mat-button>
    <span>
      <img src="assets/icons/favicon.png" alt="video-player" class="logo">
      <span>VideoSAFE Viewer</span>
    </span>
  </button>
  <a class="btn" [routerLink]="[ '/' ]" [routerLinkActiveOptions]='{ exact: true }' routerLinkActive="disabled"
    mat-button>Local Disk</a>
  <a class="btn" [routerLink]="[ '/ftp' ]" routerLinkActive="disabled" mat-button>FTP</a>
  <a class="btn" [routerLink]="[ '/streaming' ]" routerLinkActive="disabled" mat-button>streaming</a>
  <div class="flex-spacer"></div>
  <button (click)="minimise()" color="light" mat-mini-fab><mat-icon>linear_scale</mat-icon></button>
  <button (click)="fullscreen()" color="light" mat-mini-fab><mat-icon>crop_din</mat-icon></button>
  <button (click)="close()" color="warn" mat-mini-fab><mat-icon>close</mat-icon></button>
</nav>