/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
*:focus{
  outline: none !important
}
app-root{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 65px;
  bottom: 0;
  left: 0;
  right: 0;
}
app-top-bar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  color: #fff;
}
app-home{
  flex: 1;
  display: flex;
  flex-direction: column;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3f51b5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3f51b5;
}